/*generale*/
*{
padding: 0em;
margin: 0em;
}

body{
font-family: 'Montserrat', sans-serif;
color:#191970;
}
h2{
	background-color:#191970;
	color:white;
	margin-top:2%;
	margin-bottom:2%;
	clear:both;
	padding:0.5%;
	font-size:1.2em;
	text-align:center;
}

p{
	display:table;
	width:90%;
	margin:0 auto;
	
}

/*header*/

#header{
	width:100%;
	margin:0 auto;
	border-bottom:1em solid #191970;
	color:#191970;
	display:table;
	padding-top:0.5em;

}

#logo{
	width:20%;
	display:block;
	margin-left:2%;
}

#titolo{
	display:table;
	float:left;
	width:75%;
	
}

#titolo h1{	
	font-family: 'Cinzel Decorative', cursive;
	text-align:left;
	font-size:1.5em;
	margin-top:4%;
}

#infoLuogoHeader{
	display:none;

}

#infoContattiHeader{
	display:none;

}

/*main*/
#main{	
	width:100%;
	display:table;
	margin:0 auto;
	margin-top:2%;
}
#path{
	width:100%;
	text-align:center;
	display:table;
	margin-top:2%;
}

#menu{	
	width:100%;
	text-align:center;
	border-bottom:0.2em solid #191970;
}



#contenuto{
	width:100%;
}

.capo{
	display:block;
}

#footer{
	text-align:center;
	width:100%;	
	margin-top:2%;
	border-top:0.4em solid #191970;
	margin-bottom:2%;
	
}
#infoFooter{
	font-size:0.8em;
	width:90%;
	margin:0 auto;
	display:table;
}

.capo{
	display:block;
}




/* INDEX */

.contenitore-img{
	background-color:white;
	margin-bottom:2%;
	display:table;
	width:100%;
}
.immagine{

	display:table;
	width:90%;
	background-color:white;
	border:1px solid #87CEEB;
	margin-left:3%;
	
}




/* fine index*/



/*contatti*/
#formContatti{
	width:80%;
	margin-left:6%;
}
#confermaInvioMail{
	color:green;
	width:100%;
	display:table;
	text-align:center;
}

/*servizi*/
#listService{
	width:90%;
	margin:0 auto;
	
}
#listService dt{
	font-size:1.3em;

}

/*login*/
.formLogin{
	width:80%;
	float:left;
	margin-left:6%;
	
}



/* inizio libri*/

#ciao{

margin-bottom: 1em; 
margin-top:1em;

}

#ciao fieldset{

padding-top: 1em;
padding-bottom: 1em;

}

#Rtitolo,#Rautore,#Rgenere{

display: block;

}



/* fine libri*/


